# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media

# Virtual Environment
venv/
env/

# Environment variables
.env

# PostgreSQL dumps
*.sql

# OS files
.DS_Store
